<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Are you joining to celebrate our great day?</h2>
        <br>
        <center> <a href="mailto:avit.bhowmik@su.se" class="btn btn-dark btn-lg">Yes, we are joining</a> </center>
        <br>
        <form action="mailto:avit.bhowmik@su.se">
        Name: <input type="text" name="name"><br>
        E-mail: <input type="email" name="e-mail"><br>
        Number of persons: <input type="number" name="persons"><br>
        Children: <input type="number" name="children"><br>
        <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
