<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Please take a moment and let us know if you are joining</h2>
        <br>
         <p class="lead">Please don't forget to mention the number of persons and children accompanying you</p>
         <p class="lead"><a href="https://docs.google.com/forms/d/1tZ15NyjdCwhtMvKd_LtATeBX16dbgC0xjFM9W14YtyA" target="_blank" class="btn btn-dark btn-lg">RSVP</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
