<section id="accommodation" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h1 style="font-family: Papyrus; color: #DB7093;">Accommodation options</h1>
        <p style="font-family: Papyrus;">We have reserved the following accommodation options exclusively for our guests. Please use <b>"Hochzeit Wahle" </b> as a booking reference to take the advantage for our guests. The rooms are available on a "first come first serve" basis.</p>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.kurpark-hotel.de/">
                <img class="img-portfolio img-responsive" src="img/qpark.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.sinneo.de/hotel/">
                <img class="img-portfolio img-responsive" src="img/sinneo.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">More accommodation options</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
