<section id="contact" class="portfolio">
  <div class="col-lg-12 text-center">
    <h1 style="font-family: Comic Sans MS; font-size: 4em; color: #DB7093;">Contact Point</h1><br>
      <h3 style="font-family: Comic Sans MS;">You can always contact us on any queries. The maid of honor and the best man are also available for your secret queries</h3><br>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/vanessa.png">
                Vanessa Wahle <br>
                The Maid of Honor <br>
                E-mail: <a href="mailto:vanessawahle@gmail.com">vanessawahle@gmail.com </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/sinneo.png">
                Ralf B. Schäfer <br>
                The Best Man <br>
                E-mail: <a href="mailto:senator@ecotoxicology.de">mailto:senator@ecotoxicology.de </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      <!-- /.col-lg-10 -->
</section>
