<section id="contact" class="portfolio">
  <div class="col-lg-12 text-center">
    <h1 style="font-family: Comic Sans MS; font-size: 4em; color: #DB7093;">Contact Point</h1><br>
      <h3 style="font-family: Comic Sans MS;">You can always contact us on any queries. The maid of honor and the best man are also available for your secret queries</h3><br>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/vanessa.png">
                <h4> Vanessa Wahle </h4><br>
                <h4> The Maid of Honor </h4><br>
                <h4> E-mail: <a href="mailto:vanessawahle@gmail.com">vanessawahle@gmail.com </a></h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
                <img class="img-portfolio img-responsive" src="img/ralf.png">
                <h4> Ralf B. Schäfer </h4><br>
                <h4>The Best Man </h4><br>
                <h4>E-mail: <a href="mailto:senator@ecotoxicology.de">mailto:senator@ecotoxicology.de </a></h4>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      <!-- /.col-lg-10 -->
</section>
