<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
      <h3 style="font-family: Comic Sans MS; font-size: 3em; color: #DB7093;">Our contact</h3>
        <h4><strong>Caroline V. Wahle and Avit K. Bhowmik</strong></h4>
        <p>
          c/o Anders Henriksson,
          Dalstigen 21,<br>18595 Vaxholm (Stockholm), Sweden<br>
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> +46737078618 </li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:avit.bhowmik@su.se">avit.bhowmik@su.se</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/akbhowmik"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/avitbhowmik"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Avit K. Bhowmik 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
