<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Caroline and Avit</a>
    </li>
    <li class="sidebar-brand">
    <a href="#photos" onclick = $("#menu-close").click(); >Photographer's Captures</a>
    </li>
    <li class="sidebar-brand">
    <a href="#guestphoto" onclick = $("#menu-close").click(); >Guests' Captures</a>
    </li>
    <li class="sidebar-brand">
    <a href="#stockholm" onclick = $("#menu-close").click(); >Formal Wedding</a>
    </li>
    <li class="sidebar-brand">
    <a href="#venue" onclick = $("#menu-close").click(); >Venue</a>
    </li>
    <li class="sidebar-brand">
    <a href="#contact" onclick = $("#menu-close").click(); > Contact </a>
    </li>
  </ul>
</nav>
