<section id="photos" class="portfolio">

<style>
#wrapper { width: 100%; height: 700px; padding: 0; overflow: hidden; }
#scaled-frame { width: 100%; height: 700px; border: 0px; }
#scaled-frame {
    zoom: 2;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
    -o-transform: scale(2);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(2);
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 #scaled-frame  { zoom: 1;  }
}
</style>

<div id="wrapper"><iframe id="scaled-frame" src="https://photos.google.com/share/AF1QipPmAUQA2AZ3oRgnxlmFfc0aC6O-G3ZcSVmvGP9WVzFsU4xE9TJiQ7UPU0JrkZQkVg?key=V3V0bDlmYWNQZHM2NEsyaUpaUV9oN2Jvd3dXUG1B"></iframe></div>

</section>