<section id="photos" class="portfolio">

<div class="col-lg-12 text-center">
 <h1 style="font-family: Comic Sans MS; font-size: 4em; color: #DB7093;">Photographer's Captures of the Day</h1><br><br>
 <a href='https://photos.google.com/share/AF1QipPmAUQA2AZ3oRgnxlmFfc0aC6O-G3ZcSVmvGP9WVzFsU4xE9TJiQ7UPU0JrkZQkVg?key=V3V0bDlmYWNQZHM2NEsyaUpaUV9oN2Jvd3dXUG1B&source=ctrlq.org'><img src='https://lh3.googleusercontent.com/YyZN1U-zibWmmpC8NgrLfiXpqnMcRsDco1XHzZsba9Te2sbS_I7M5a3RYgR0OzOKcfKzona3seYqSzTXfREbo3qSh4tf3q7bqBlm2u8cBJ1gttYYH2cbYKgKk8rnVdiJ5bFk2YXA8w' /></a><br><br>
</div>

</section>