<section id="rsvp" class="rsvp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h1 style="font-family: Papyrus; color: #DB7093;">RSVP</h1><br>
        <h2 style="font-family: Papyrus;">Please take a moment and let us know if you are joining</h2>
        <br>
        <p class="lead"><img src="img/rsvp_pic.jpg" alt="rsvp pic" style="width:200px;"></p>
        <br>
         <p class="lead"><a href="https://goo.gl/forms/iEj8wnxN023Kj9OZ2" target="_blank" class="btn btn-dark btn-lg">RSVP to Caroline & Avit</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
