<section id="rsvp" class="rsvp">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      <h1 style="font-family: Comic Sans MS; font-size: 4em; color: #DB7093;">RSVP</h1>
        <h2 style="font-family: Comic Sans MS;">Please take a moment and let us know if you are joining</h2>
        <br>
        <p class="lead"><img src="img/rsvp_pic.png" alt="rsvp pic" style="width:300px;"></p>
        <br>
         <p class="lead"><img src="img/rsvp-1.png" alt="rsvp pic" style="width:300px;">&nbsp;&nbsp;&nbsp;<a href="https://goo.gl/forms/iEj8wnxN023Kj9OZ2" target="_blank" class="btn btn-dark btn-lg">RSVP to Caroline & Avit</a>&nbsp;&nbsp;&nbsp;<img src="img/rsvp-2.png" alt="rsvp pic" style="width:300px;"></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
