<section id="travel" class="travel">
  <div class="col-lg-12 text-center">
<h1 style="font-family: Comic Sans MS; font-size: 4em; color: #DB7093;">How to get there</h1>
<img src="img/rsvp-2.png" alt="rsvp pic" style="width:300px;"><br>
<h1 style="transform: scale(2, 2)"> &#x2708; </h1> <h3 style="font-family: Comic Sans MS;"> Nearest Airports: Frankfurt am Main, Frankfurt Hahn and Baden-Baden, Karlsruhe. Flights available from all over the world.</h3> <br>
<h1 style="transform: scale(2, 2)"> &#x1f68b; </h1> <h3 style="font-family: Comic Sans MS;">  Nearest Train Station (within walking distance from the venue): Bad Dürkheim. Train connections are available within Germany and Europe.</h3> <br>
<h1 style="transform: scale(2, 2)"> &#x1f697; </h1> <h3 style="font-family: Comic Sans MS;"> Plenty of free parking places are available near the wedding venue (see the map above).</h3><br>
  </div>
</section>