<section class="travel">
  <div class="col-lg-12 text-center">
<h1 style="font-family: Comic Sans MS; font-size: 4em; color: #DB7093;">Travel Options</h1><br>
<h2 style="font-family: Comic Sans MS;"> &#x2708; Nearest Airports: Frankfurt am Main and Frankfurt Hahn. Flights available from all over the world.</h2><br>
<h2 style="font-family: Comic Sans MS;"> &#x1f68b; Nearest Train Station: Bad Dürkheim. Train connections are available from Germany and Europe.</h2><br>
<h2 style="font-family: Comic Sans MS;"> &#x1f697; Free parking places are available near the wedding venue (see the map above).</h2><br>
  </div>
</section>
